<template>
  <div>
    <section>
      <h1>Add new post</h1>
      <hr />
      <br />
      <form @submit.prevent="submit">
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input
            type="text"
            name="title"
            v-model="form.title"
            class="form-control"
            id="title"
          />
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Content:</label>
          <textarea
            name="content"
            v-model="form.content"
            class="form-control"
            id="content"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
    <section>
      <h1>Posts</h1>
      <hr />
      <br />
      <div v-if="posts.length">
        <div v-for="post in posts" :key="post.id" class="posts">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <ul>
                <li><strong>Post Title:</strong>{{ post.title }}</li>
                <li><strong>Author:</strong>{{ post.author.username }}</li>
                <li>
                  <router-link :to="{ name: 'Post', params: { id: post.id } }">
                    View
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
          <br />
        </div>
      </div>
      <div v-else>
        <p>No posts.</p>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "BpDashboard",
  data() {
    return {
      form: {
        title: "",
        content: "",
      },
    };
  },
  created() {
    return this.$store.dispatch("getPosts");
  },
  computed: {
    ...mapGetters({ posts: "statePosts" }),
  },
  methods: {
    ...mapActions(["createPost"]),
    async submit() {
      await this.createPost(this.form);
    },
  },
};
</script>

<style scoped></style>
