<template>
  <div id="app">
    <bp-nav-bar />
    <div class="main container">
      <router-view />
    </div>
  </div>
</template>

<script>
import BpNavBar from "@/components/NavBar.vue";

export default {
  components: {
    BpNavBar,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.main {
  padding-top: 5em;
}
</style>
